body {
    background-color: #d4d4d4;
}

h1 {
    background-color: #e0e0e0;
    text-align: center;
    padding: 4%;
    width: 80vw;
    margin: 30px auto;
    border: 2px solid black;
    border-radius: 2px;
  
}

.infoa {
    align-items: center;
    text-align: center;
    background-color: #e0e0e0;
   
    border: 2px solid rgb(255, 148, 148);

    padding: 1%;
    width: 70vw;
    margin: 30px auto;
   
    border-radius: 2px;
  
   
}
.koko_profiili {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3%;
    margin: 5%;
}

.profiilit {
    align-items: center;
}

img{
    max-width: 100%;
    border-radius: 150px 150px 0px 0px;
   
}

.profiili_nimi {
    background-color: #856955;
    text-align: center;    
    font-size: larger;
    margin-top: 2%;
    margin-bottom: 3%;
    color: white;
}

.profiili_tekeminen {
    background-color: #a17d60;
    text-align: center;
    font-size: small;
    padding: 5vh;
    color: white;
  
    

}
.profiilit_oma {
    max-width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 3%;

}


