footer {
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 100vw;
    padding-top: 5em;
    margin-top: 5em;
}

nav {
    border-bottom: 1px solid #9b8372;
}

.navbar-toggler {
    margin: 10px;
}

#navbarNav {
    border-top: 1px solid #9b8372;
}

.navbar-nav {
    margin: 1.5rem;
    font-size: 1.3em;
    text-align: center;
}

div.container {
    max-width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

body {
    text-align: center;
    align-items: center;
}

h1 {
    background-color: #e0e0e0;
    text-align: center;
    padding: 4%;
    width: 80vw;
    margin: 30px auto;
    margin-bottom: 0;
    border: 2px solid black;
    border-radius: 2px;
}

img {
    width: 100%;
    margin-top: 1%;
    background-color:#a8c9a5 ;
    border-radius: 20px;

}

.ohjeet_ja_peli {
    padding: 10%;
    padding-top: 3%;
}

.tulokset {
    display: inline-flex;
}

#kierrokset, #pisteet {
    background-color: #a7ddb9;
    text-align: center;
    margin-top: 1%;
    padding: 2%;
    width: 23vw;
    border-radius: 20px;
}



.vihje1_btn, .vihje2_btn, .vihje3_btn {
    background-color: rgb(223, 223, 223);
    text-align: center;
    margin-top: 1%;
    padding: 2%;
    width: 25.5vw;
    border-radius: 20px;
    margin-bottom: 1%;

}

.vihje1_btn:hover, .vihje2_btn:hover, .vihje3_btn:hover {
    text-decoration: none;

}


#hintList {
    list-style: none;
  
}

#answer {
    background-color: rgb(223, 223, 223);
    padding: 2%;
    width: 100%;
    border-radius: 20px;
    text-align: center;
}

#feedback {
    margin-right: 19%;
    margin-left: 19%;
    margin-top: 1%;
    width: 48vw;
    text-align: center;
}


#next_btn, #send_btn {
    background-color: rgb(47, 47, 47);
    color: white;
    text-align: center;
    margin-top: 1%;
    padding: 2%;
    width: 24vw;
    border-radius: 20px;
}

#restart {
    background-color: rgb(223, 223, 223);
    text-align: center;
    margin-top: 1%;
    padding: 2%;
    width: 24vw;
    border-radius: 20px;
}


.ohjeet_ja_peli {
    display: none;
}

.pelin_tulokset {
    display: none;
}



.tumma-taustavari {
    background-color: #e0e0e0;
}

/*hyvin pienet näytöt ovat normaalia koodia/
/*isommat puhelimet sekä tabletit 641-994*/
@media screen and (min-width: 641px) {
    .navbar-nav {
        font-size: 1.4em;
    }
}

/*isot näytöt, kannettavat tietokoneet 995-13199*/
@media screen and (min-width: 992px) {
    .vihje1_btn:hover, .vihje2_btn:hover, .vihje3_btn:hover {
        background-color: #a7ddb9;
    
    }
    #next_btn:hover:not([disabled]), #send_btn:hover {
        background-color: #546d5c;
    }

    #next_btn:disabled {
        cursor: no-drop;
    }


    #navbarNav {
        border-top: 0;
        justify-content: right;
    }
    
    .navbar-nav {
        margin: 10px;
        font-size: 1.2em;
    }
    #empty {
        margin: 0 1rem;
    }
    

}

/*tosi isot näytöt 1199->*/
@media screen and (min-width: 1200px) {

}
