footer {
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 100vw;
    padding-top: 5em;
    margin-top: 5em;
}

div.container {
    max-width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

body {
    text-align: center;
    align-items: center;
}

h1 {
    background-color: #e0e0e0;
    text-align: center;
    padding: 4%;
    width: 80vw;
    margin: 30px auto;
    margin-bottom: 0;
    border: 2px solid black;
    border-radius: 2px;
}

img {
    width: 100%;
    margin-top: 4%;
    background-color:#a8c9a5 ;
    border-radius: 20px;

}

.ohjeet_ja_peli {
    padding: 10%;
    padding-top: 5%;
}

.tulokset {
    display: inline-flex;
}

#kierrokset, #pisteet {
    background-color: #a8c9a5;
    text-align: center;
    padding: 2%;
    width: 40vw;
    border-radius: 20px;

}



.vihje1_btn, .vihje2_btn, .vihje3_btn {
    background-color: #a8c9a5;
    text-align: center;
    margin-top: 3%;
    padding: 2%;
    width: 25vw;
    border-radius: 20px;

}

#answer {
    background-color: rgb(200, 200, 200);
    padding: 2%;
    margin-top: 2%;
    width: 100%;
    border-radius: 20px;
    text-align: center;
}



#next_btn, #send_btn {
  background-color: #a8c9a5;
    text-align: center;
    margin-top: 3%;
    padding: 2%;
    width: 24vw;
    border-radius: 20px;
}

.tumma-taustavari {
    background-color: #e0e0e0;
}

/*hyvin pienet näytöt ovat normaalia koodia/
/*isommat puhelimet sekä tabletit 641-994*/
@media screen and (min-width: 641px) {

}

/*isot näytöt, kannettavat tietokoneet 995-13199*/
@media screen and (min-width: 992px) {

}

/*tosi isot näytöt 1199->*/
@media screen and (min-width: 1200px) {

}
