/*Naviin liittyvät koodit*/

nav {
    border-bottom: 1px solid #9b8372;
}

.navbar-toggler {
    margin: 10px;
}

#navbarNav {
    border-top: 1px solid #9b8372;
}

.navbar-nav {
    margin: 1.5rem;
    font-size: 1.3em;
    text-align: center;
}


div.container {
    max-width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

#logo {
    max-height: 10vh;
    margin-left: 2vh;
}

/*Naviin liittyvät koodit loppuu*/


body {
    text-align: center;
    align-items: center;
    background-color: #e8e5dd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



h1 { /*Karttapelin otsikko*/
    width: 80vw;
    margin: 1.5rem auto;
    padding: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
    background-color: #f5f5f5;
    border: 1px solid black;
    border-radius: 2px;
}

#karttakuva { /*Maapallon kuva keskellä*/
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.ohjeet_ja_peli {
    padding: 10%;
    padding-top: 3%;
}

.tulokset {
    display: inline-flex;
}

#kierrokset, #pisteet {
    background-color: #97b892;
    text-align: center;
    margin-top: 1%;
    padding: 2%;
    width: 23vw;
    border-radius: 20px;
}

.vihje1_btn, .vihje2_btn, .vihje3_btn {
    background-color: rgb(223, 223, 223);
    text-align: center;
    margin-top: 1%;
    padding: 2%;
    width: 25.5vw;
    border-radius: 20px;
    margin-bottom: 1%;
}


#hintList {
    list-style: none;
}

#answer {
    background-color: rgb(223, 223, 223);
    padding: 2%;
    width: 100%;
    border-radius: 20px;
    text-align: center;
}

#feedback {

    margin-top: 1%;
    width: 100%;
    text-align: center;
}


#next_btn, #send_btn {
    background-color: rgb(47, 47, 47);
    color: white;
    text-align: center;
    margin-top: 1%;
    padding: 2%;
    width: 24vw;
    border-radius: 20px;
}

#restart {
    background-color: rgb(223, 223, 223);
    text-align: center;
    margin-top: 1%;
    padding: 2%;
    width: 24vw;
    border-radius: 20px;
}


.ohjeet_ja_peli {
    display: none;
}

.pelin_tulokset {
    display: none;
    padding: 9vh;
}

footer {
    border-top: 1px solid #9b8372;
}


.row {
    padding: 3vh 0;
}

.tumma-taustavari {
    background-color: #e0e0e0;
}

/*hyvin pienet näytöt ovat normaalia koodia/
/*isommat puhelimet sekä tabletit 641-994*/
@media screen and (min-width: 641px) {
    
    .navbar-nav {
        font-size: 1.4em;
    }

    #karttakuva {
        width: 90%;
  
    }
}

/*isot näytöt, kannettavat tietokoneet 995-13199*/
@media screen and (min-width: 992px) {

    #navbarNav {
        border-top: 0;
        justify-content: right;
    }
    
    .navbar-nav {
        margin: 10px;
        font-size: 1.2em;
    }

    #empty {
        margin: 0 1rem;
    }

    h1 {
        width: 60vw;
        padding: 1rem;
    }

    .row {
        padding: 6vh 0;
    }

    .vihje1_btn:hover, .vihje2_btn:hover, .vihje3_btn:hover {
        background-color: none;
    }

    



    #next_btn:hover:not([disabled]), #send_btn:hover:not([disabled]) {
        background-color: #ff9752;
    }

    #next_btn:disabled, #send_btn:disabled {
        cursor: no-drop;
    }



    .ohjeet_ja_peli {
        margin-left: 100px;
        margin-right: 100px;

    }

    #karttakuva {
        width: 90%;
  
    }

   
    
    

}

/*tosi isot näytöt 1199->*/
@media screen and (min-width: 1200px) {

    #navbarNav {
        border-top: 0;
        justify-content: right;
    }
    
    .navbar-nav {
        margin: 10px;
        font-size: 1.2em;
    }

    .row {
        padding: 3vh;
    }



    #karttakuva {
        width: 50%;
        margin-bottom: 1%;
        margin-top: 2%;

  
    }
    .ohjeet_ja_peli {
        padding: 10%;
        padding-top: 3%;
    }

    #next_btn, #send_btn, .vihje1_btn, .vihje2_btn, .vihje3_btn {
        width: 20%;
    }
    
    #answer {
        width: 70%;
    }

  
   

    
}
