.tumma-taustavari {
    background-color: #e0e0e0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #E0E0E0;
}

body{
    background-color: #e8e5dd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    border-bottom: 1px solid #9b8372;
}

.navbar-toggler {
    margin: 10px;
}

#navbarNav {
    border-top: 1px solid #9b8372;
}

.navbar-nav {
    margin: 1.5rem;
    font-size: 1.3em;
    text-align: center;
}

h1 { /* otsikko "tarinapeli" */
    width: 80vw;
    margin: 1.5rem auto;
    padding: 1.5rem;

    font-family: 'Times New Roman', Times, serif;
    text-align: center; 

    background-color: #f5f5f5;
    border: 1px solid black;
    border-radius: 2px;
}
#etusivu {
    text-align: center;
}

h2.nappi {
    background-color: #e0e0e0;
    text-align: center;
    padding: 4%;
    width: 60vw;
    margin: 30px auto;
    border: 3px solid black;
    border-radius: 20vw;
}

#etusivu p {
    background-color: #e0e0e0;
    text-align: center;
    padding: 6%;
    width: 70vw;
    margin: 30px auto;
    font-size: medium;
}

#aloita_alusta {
    padding: 2%;
    margin: 4%;
    
}


footer {
    border-top: 1px solid #9b8372;

}


.row {
    padding: 3vh 0;

}

#etusivu img {
    max-width: 70%;
    max-height: 70%;
    
}

#peli_itse img {
    max-width: 25%;
    max-height: 25%;
}

#laatikko {
    display: wrap;
    align-content: space-between;
    flex-flow: wrap;
}




/*hyvin pienet näytöt ovat normaalia koodia*/
/*isommat puhelimet sekä tabletit 641-994*/
@media screen and (min-width: 641px) {

    .navbar-nav {
        font-size: 1.4em;
    }

}

/*isot näytöt, kannettavat tietokoneet 992-1199*/
@media screen and (min-width: 992px) {

    #navbarNav {
        border-top: 0;
        justify-content: right;
    }
    
    .navbar-nav {
        margin: 10px;
        font-size: 1.2em;
    }

    #empty {
        margin: 0 1rem;
    }

    h1 {
        width: 60vw;
        padding: 1rem;
    }

    .row {
        padding: 6vh 0;
    }

}

/*tosi isot näytöt 1199->*/
@media screen and (min-width: 1200px) {



    #navbarNav {
        border-top: 0;
        justify-content: right;
    }
    
    .navbar-nav {
        margin: 10px;
        font-size: 1.2em;
    }

    .row {
        padding: 3vh;
    }
}