.tumma-taustavari {
    background-color: #e0e0e0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#logo {
    max-height: 10vh;
    margin-left: 2vh;
}

body{
    background-color: #e8e5dd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    border-bottom: 1px solid #9b8372;
}

.navbar-toggler {
    margin: 10px;
}

#navbarNav {
    border-top: 1px solid #9b8372;
}

.navbar-nav {
    margin: 1.5rem;
    font-size: 1.3em;
    text-align: center;
}

h1 { 
    width: 80vw;
    margin: 1.5rem auto;
    padding: 1.5rem;

    font-family: 'Times New Roman', Times, serif;
    text-align: center; 

    background-color: #f5f5f5;
    border: 1px solid black;
    border-radius: 2px;
}
#etusivu {
    text-align: center;
    background-color: #e8e5dd;
}

h2.nappi {
    background-color: #e0e0e0;
    text-align: center;
    padding: 4%;
    width: 60vw;
    margin: 30px auto;
    border: 3px solid black;
    border-radius: 20vw;
}

#etusivu p.ohjeet {
    text-align: center;
    padding: 1em;
    width: 70vw;
    margin: 30px auto;
    font-size: medium;
}

etusivu p{
    background-color: #e8e5dd;
}

#aloita_alusta {
    padding: 2%;
}

#uudestaan {
    margin-bottom: 5%;
    justify-content: center;
    display: flex;
}


footer {
    border-top: 1px solid #9b8372;
    background-color: #e0e0e0;
}


.row {
    padding: 3vh 0;
}

#etusivu img {
    max-width: 70%;
    max-height: 70%;
    margin: 2%;
}

#peli_itse img {
    max-width: 100%;
    max-height: 100%;
}

#laatikko {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    justify-content: center;
    margin-bottom: 2%;
    padding: 2%;
}


/* Apuna käytetty videota: https://www.youtube.com/watch?v=p2vG4KSRKJc */
.kortti {
    width: 120px;
    height: 120px;
    position: relative;
    transition: transform 1s;
    cursor: pointer;
    transform-style: preserve-3d;
    margin: auto;
}

.etu {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    position: absolute;
}

.taka {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.kortti img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.kortti.active {
    transform: perspective(300px) rotateY(180deg);
}

/*hyvin pienet näytöt ovat normaalia koodia*/
/*isommat puhelimet sekä tabletit 641-994*/
@media screen and (min-width: 641px) {

    .navbar-nav {
        font-size: 1.4em;
    }


    #etusivu img {
        max-width: 40%;
        max-height: 40%;
        
    }

    .kortti {
        width: 140px;
        height: 140px;
        position: relative;
        transition: transform 1s;
        cursor: pointer;
        transform-style: preserve-3d;
    }

    #laatikko {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2%;
        justify-content: center;
        padding: 2%;
    }
    
}

/*isot näytöt, kannettavat tietokoneet 992-1199*/
@media screen and (min-width: 992px) {

    #navbarNav {
        border-top: 0;
        justify-content: right;
    }
    
    .navbar-nav {
        margin: 10px;
        font-size: 1.2em;
    }

    #empty {
        margin: 0 1rem;
    }

    h1 {
        width: 60vw;
        padding: 1rem;
    }

    .row {
        padding: 6vh 0;
    }

    #etusivu img {
        max-width: 30%;
        max-height: 30%;
        
    }

    .kortti {
        width: 170px;
        height: 170px;
        position: relative;
        transition: transform 1s;
        cursor: pointer;
        transform-style: preserve-3d;
    }

    #laatikko {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2%;
        justify-content: center;
        padding: 2%;
    }

}

/*tosi isot näytöt 1199->*/
@media screen and (min-width: 1200px) {



    #navbarNav {
        border-top: 0;
        justify-content: right;
    }
    
    .navbar-nav {
        margin: 10px;
        font-size: 1.2em;
    }

    .row {
        padding: 3vh;
    }

    #etusivu img {
        max-width: 20%;
        max-height: 200%;
        
    }

    .kortti {
        width: 200px;
        height: 200px;
        position: relative;
        transition: transform 1s;
        cursor: pointer;
        transform-style: preserve-3d;
    }

    #laatikko {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2%;
        justify-content: center;
        padding: 2%;
    }

    h2.nappi {
        background-color: #e0e0e0;
        text-align: center;
        padding: 4%;
        width: 40vw;
        margin: 30px auto;
        border: 3px solid black;
        border-radius: 20vw;
    }

}