.tumma-taustavari {
    background-color: #e0e0e0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#logo {
    max-height: 10vh;
    margin-left: 2vh;
}

body{
    background-color: #e8e5dd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    border-bottom: 1px solid #9b8372;
}

.navbar-toggler {
    margin: 10px;
}

#navbarNav {
    border-top: 1px solid #9b8372;
}

.navbar-nav {
    margin: 1.5rem;
    font-size: 1.3em;
    text-align: center;
}

h1 { 
    width: 80vw;
    margin: 1.5rem auto;
    padding: 1.5rem;

    font-family: 'Times New Roman', Times, serif;
    text-align: center; 

    background-color: #f5f5f5;
    border: 1px solid black;
    border-radius: 2px;
}

p.ohjeet {
    font-size: 1.5em;
    margin-bottom: 0;
}

p.keskitys {
    text-align: center;
    background-color: #e8e5dd;
}

p.bold {
    font-weight: bold;
    background-color: rgb(230, 175, 74)
}

div.laatikko {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e5dd;
}

div.matematiikka {
    background-color: rgb(255, 194, 82);
    width: 90vw;
    height: auto;
    border-radius: 5px;
    text-align: center;
    padding-top: 2%;
    
}

div.kuvatahan {
    max-width: 50%;
    margin: auto;   
}

div.kuvatahan img {
    max-width: 100%;
    height: auto;    
    border-radius: 3%;
}

div.tunnista-maa {
    background-color:  rgb(230, 175, 74);
    max-width: 85%;
    margin: auto;
    border-radius: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 1%;
}

div.tunnista-maa form, div.muunnos form {
    background-color:  rgb(230, 175, 74);
}

div.muunnos {
    background-color:  rgb(230, 175, 74);
    max-width: 85%;
    margin: auto;
    border-radius: 10px;
    font-size: 1em;
    padding: 1%;

}

.muunnos p, .tunnista-maa p {
    margin: 0.2em 0;
    background-color:  rgb(230, 175, 74);
}

#seuraavaKysymys:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
#seuraavaKysymys:not(:disabled) {
    background-color: #cecece;
    cursor: pointer;
}

#seuraavaKysymys {
    margin-top: 1em;
    margin-bottom: 2em;
}


p.pisteet {
    text-align: center;
    font-size: 3em;

}

div.griddy {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0;
    width: 75%;
    margin: auto;
    padding-top: 1em;
    background-color: #e8e5dd;
}

div.griddy > div {
    
    padding: 0.5em;
    margin: 0.5em;
    height: 8vw;
    margin-right: 1em;
    border-radius: 10px;
}

.griddy div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.griddy div img {
    max-height: 100%;
}

div.yksi {
    background-color: white;
}

div.kaksi {
    background-color: white;
}

div.kolme {
    background-color: white;
}

div.nelja {
    background-color: white;
}

div.viisi {
    background-color: white;
}

div.kuusi {
    background-color: white;
}

div.seitsaman {
    background-color: white;
}

div.kahdeksan {
    background-color: white;
}

div.yhdeksan {
    background-color: white;
}

div.kymmenen {
    background-color: white;
}


.muunnos-laatikko {
    background-color: rgb(255, 194, 82);
    display: flex;
    flex-direction: column; 
    align-items: center;     
    gap: 0.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    max-width: 70%;
    margin: auto;
    margin-bottom: 3em;
    padding: 1em;
    border-radius: 10px;
  }

  .muunnos-laatikko div {
    background-color:  rgb(255, 194, 82);
  }

footer {
    border-top: 1px solid #9b8372;
}

.row {
    padding: 3vh 0;
}






/*hyvin pienet näytöt ovat normaalia koodia*/
/*isommat puhelimet sekä tabletit 641-994*/
@media screen and (min-width: 641px) {

    .navbar-nav {
        font-size: 1.4em;
    }

    .muunnos-laatikko {
        background-color: rgb(255, 194, 82);
        display: flex;
        flex-direction: column; 
        align-items: center;     
        gap: 0.5rem;
        margin-top: 1rem;
        font-size: 1em;
        max-width: 70%;
        margin: auto;
        margin-bottom: 3em;
        padding: 1em;
        border-radius: 10px;
      }

}

/*isot näytöt, kannettavat tietokoneet 992-1199*/
@media screen and (min-width: 992px) {

    #navbarNav {
        border-top: 0;
        justify-content: right;
    }
    
    .navbar-nav {
        margin: 10px;
        font-size: 1.2em;
    }

    #empty {
        margin: 0 1rem;
    }

    h1 {
        width: 60vw;
        padding: 1rem;
    }

    .muunnos-laatikko {
        background-color: rgb(255, 194, 82);
        display: flex;
        flex-direction: column; 
        align-items: center;     
        gap: 0.5rem;
        margin-top: 1rem;
        font-size: 2em;
        max-width: 70%;
        margin: auto;
        padding: 1em;
        border-radius: 10px;
      }

    .row {
        padding: 6vh 0;
    }

}

/*tosi isot näytöt 1199->*/
@media screen and (min-width: 1200px) {



    #navbarNav {
        border-top: 0;
        justify-content: right;
    }
    
    .navbar-nav {
        margin: 10px;
        font-size: 1.2em;
    }

    div.matematiikka {
        background-color: rgb(255, 194, 82);
        width: 90vw;
        height: 60vw;
        border-radius: 5px;
        text-align: center;
        padding-top: 2%;
        
    }
    
    div.kuvatahan {
        max-width: 50%;
        margin: auto;
        
        
        
    }
    
    div.kuvatahan img {
        max-width: 100%;
        height: auto;    
        border-radius: 3%;
    
    }
    
    div.tunnista-maa {
        background-color:  rgb(230, 175, 74);
        max-width: 85%;
        margin: auto;
        border-radius: 10px;
        margin-top: 3%;
        margin-bottom: 3%;
        font-size: 1.5em;
        padding: 1%;
    }
    
    div.muunnos {
        background-color:  rgb(230, 175, 74);
        max-width: 85%;
        margin: auto;
        border-radius: 10px;
        font-size: 1.5em;
        padding: 1%;
    
    }
    
    
    
    .muunnos p, .tunnista-maa p {
        margin: 0.2em 0;
    }
    
    .muunnos-laatikko {
        background-color: rgb(255, 194, 82);
        display: flex;
        flex-direction: column; 
        align-items: center;     
        gap: 0.5rem;
        margin-top: 1rem;
        font-size: 2em;
        max-width: 70%;
        margin: auto;
        padding: 1em;
        border-radius: 10px;
    }

    .row {
        padding: 3vh;
    }
}