.tumma-taustavari {
    background-color: #e0e0e0;
}

body{
    background-color: #f8f7f6;
}

#etusivu{
padding: 3%;
}

#etusivukuva{
height: auto;
width: 100%;
padding: 2%;
}

#etusivu h1{
text-align: center;
word-spacing: 10px;
}

#etusivu p {
    text-align: justify;
    

}

.row {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    flex: 1 1 30%;
    background-color: #e0e0e0;
    text-align: center;
    padding-top: 1em;

}


