* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #E0E0E0;
}


body {
    background-color: #e8e5dd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    border-bottom: 1px solid #9b8372;
}

.navbar-toggler {
    margin: 10px;
}

#navbarNav {
    border-top: 1px solid #9b8372;
}

.navbar-nav {
    margin: 1.5rem;
    font-size: 1.3em;
    text-align: center;
}

h1 { /* otsikko "tarinapeli" */
    width: 80vw;
    margin: 1.5rem auto;
    padding: 1.5rem;

    font-family: 'Times New Roman', Times, serif;
    text-align: center; 

    background-color: #f5f5f5;
    border: 1px solid black;
    border-radius: 2px;
}

#info-text { /* ohjeteksti */
    margin: 2rem;
    text-align: justify;
}

#info-text, #start-button, #story-img-div {
    background-color: #e8e5dd;
}

#start-game { /* nappi "aloita peli" */ 
    width: 35vh;
    padding: 1rem;
    margin-bottom: 3rem;
    
    border-radius: 25px;
    background-color: #856955;
    color: #ffffff;
    font-size: 1.2em;
}

#story-img-div, .button {
    text-align: center;
}

#story-img { /* kuva joka näkyy ennen pelin aloittamista */
    width: 250px;
    height: 250px;
    margin-bottom: 3rem;

    border-radius: 50%;
    border: 1px solid black;
    object-fit: cover;
}

#game-board { /* pelialusta */
    display: none;
    margin: 0 1.5rem 3rem 1.5rem;
    border: 2px solid black;
    border-radius: 15px;
}

.game-board, #word-box, #ask-word {
    background-color: #f5f5f5;
}

#word-box, #choose-word {
    border-radius: 15px 15px 0 0;
}

#choose-word { /* otsikko "valitse sana tästä laatikosta" */
    margin: 0;
    padding: 1rem;
    padding-bottom: 0;

    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}

#possible-words { /* valintaboksissa näkyvät sanat */
    margin: 0;
    padding: 1rem;
    padding-top: 0.5rem;

    background-color: #f5f5f5;
    font-size: 1.1em;

    text-align: center;
    white-space: pre-wrap;
}

.listed-words {
    background-color: #f5f5f5;
    margin: 1rem;
}

#ask-word { /* div jossa alemmat kolme */
    display: block;
    padding: 2rem;

    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#word-label { /* label "anna sana" */
    display: block;

    font-size: 1.2em;
    text-align: center;
}

#word-input { /* input "kirjoita sana tähän" */
    display: block;
    width: 60vw;
    height: 2.5rem;
    margin: 1.5rem auto;
    padding: 1rem;
}

#word-check { /* button "tarkista sana" */
    display: block;
    width: 60vw;
    margin: 0 auto 1rem auto;
    padding: 1rem;
    
    border-radius: 25px;

    background-color: #856955;
    color: #ffffff;
    font-size: 1.1em;
}

.answer, .correct, .incorrect {
    margin: 0;
    background-color: #f5f5f5;
    font-size: 1.1em;
    text-align: center;
}

.answer {
    color: black;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.ready {
    color: black;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

#results { /* div jossa lasketaan sanat ja pisteet */
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #856955;
    border-radius: 0 0 13px 13px;
}

#words, #points { /* sanojen ja pisteiden määrät */
    background-color: #856955;
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 0;
}

#words {
    border-right: 1px solid black;
    border-radius: 0 0 0 13px;
}

#points {
    border-radius: 0 0 13px 0;
}

#result-board { /* div johon tulee onnitteluteksti, tarina ja pisteet */
    display: none;
    margin: 0 1.5rem 3rem 1.5rem;
    background-color: #f5f5f5;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
}

#final-story, #final-text {
    background-color: #f5f5f5;
}

#final-text {
    border-radius: 15px;
    padding: 1.5rem;
}

#final-story {
    padding: 0 1.5rem 1rem 1.5rem;
    text-align: justify;
    line-height: 2em;
}

#final-points, #start-again {
    width: 80%;
    margin: auto;
    padding: 1rem;

    border: 1px solid black;
    border-radius: 25px;

    background-color: #856955;
    color: #ffffff;
    font-size: 1.2em;
    align-content: center;
}

#start-again {
    margin: 1.5rem;
    margin-bottom: 2rem;
}

footer {
    border-top: 1px solid #9b8372;
}

.row {
    padding: 3vh 0;
}


/* sivun responsiivisuus */
@media screen and (min-width: 640px) { /* puhelin vaaka-asennossa, pieni tabletti pysty- ja vaaka-asennossa */
    .navbar-nav {
        font-size: 1.4em;
    }

    #start-game {
        padding: 1rem;
    }
    
    #game-board, #result-board {
        margin: 0 3rem 3rem 3rem;
    }

    #possible-words {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 2rem 4rem;
    }

    .listed-words {
        margin: 0.5rem;
    }

    #word-input, #word-check, #final-points, #start-again {
        width: 50vw;
    }

    .row {
        padding: 6vh 0;
    }
}

@media screen and (min-width: 992px) { /* läppärit ja pienet pöytäkoneet */
    #navbarNav {
        border-top: 0;
        justify-content: right;
    }
    
    .navbar-nav {
        margin: 10px;
        font-size: 1.2em;
    }

    #empty {
        margin: 0 1rem;
    }
    
    h1 {
        width: 60vw;
        padding: 1rem;
    }

    #info-text {
        width: 70vw;
        margin: auto;
    }

    #start-game {
        width: 25vw;
        padding: 0.5rem;
        margin-bottom: 0;
    }

    #story-img {
        margin: 2rem 0;
    }

    #game-board, #result-board {
        width: 70vw;
        margin: auto;
        margin-bottom: 3rem;
    }

    #word-check, #word-input {
        width: 50%;
    }

    #word-check {
        padding: 0.5rem;
    }

    .answer, .correct, .incorrect {
        width: 70%;
        margin: auto;
    }

    #final-story {
        margin: 0 2rem 1.5rem 2rem ;
    }

    #final-points, #start-again {
        width: 50%;
        padding: 0.8rem;
    }

    .row {
        padding: 3vh;
    }
}

@media screen and (min-width: 1200px) { /* suuret näytöt */
    #info-text {
        width: 60vw;
        margin: 0 auto;
    }

    #start-game {
        margin-top: 2rem;
    }
 
    #game-board, #result-board {
        width: 60vw;
        margin: auto;
        margin-bottom: 3rem;
    }
}