* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #E0E0E0;
}

body {
    background-color: #e8e5dd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    border-bottom: 1px solid #9b8372;
}

.navbar-toggler {
    margin: 10px;
}

#navbarNav {
    border-top: 1px solid #9b8372;
}

.navbar-nav {
    margin: 1.5rem;
    font-size: 1.3em;
    text-align: center;
}

h1 {
    width: 80vw;
    margin: 1.5rem auto;
    padding: 1.5rem;

    font-family: 'Times New Roman', Times, serif;
    text-align: center; 

    background-color: #f5f5f5;
    border: 1px solid black;
}

h1, #all-results, #all-parrots {
    border-radius: 2px;
}

#all-results { /* teksti, jossa kerrotaan yhteispisteet */
    width: 80vw;
    margin: 0 auto;
    padding: 1.5rem;

    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
    text-align: center;

    background-color: #856955;
    color: #ffffff;
}

#games { /* div elementti, jossa kaikki pelit */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    
    margin: 2rem 3rem 0 3rem;
    padding-bottom: 4rem;

    border-bottom: 1px solid #856955;
}

#games, #language-game, #math-game, #flag-game, #story-game, #map-game, #parrot-badge, #parrot-div, #upper-row, #lower-row {
    background-color: #e8e5dd;
}

.game-img { /* kaikkien pelien kuvat */
    width: 100%;
    height: 20vh;

    border: 1px solid #856955;
    border-radius: 70% 70% 0 0;
    object-fit: cover;
}

.game-names { /* kaikkien pelien nimet */
    width: 100%;
    margin: 2% 0;
    padding: 0.5rem;

    background-color: #856955;
    color: #ffffff;
    font-size: 1.2em;
    text-align: center;
}

.game-results { /* kaikkien pelien tulokset */
    width: 100%;
    padding: 0.5rem;
    
    background-color: #9b8372;
    color: #ffffff;
    font-size: 1.2em;
    text-align: center;
}

#story-game, #math-game, #map-game, #flag-game {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
}

#language-game { /* kielipeli */
    display: flex;
    flex-direction: column;
    grid-column: 1/3;
    width: 50%;

    justify-self: center;
    align-items: center;
}

#parrot-badge { /* div jossa on papukaijamerkkien määrä ja div kuville */
    margin-bottom: 3.5rem;
}

#all-parrots { /* ansaitut papukaijamerkit teksti */
    width: 80vw;
    margin: 50px auto;
    padding: 1rem;

    font-family: 'Times New Roman', Times, serif;
    background-color: #9b8372;
    color: #ffffff;
    text-align: center;
    font-size: 1.3em;
}

#upper-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 10%;
    justify-items: center;
}

#lower-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 23%;
    justify-items: center;
}

.parrot-img { /* kaikki papukaijakuvat (lisätty javascriptissä) */
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid black;
}

footer {
    border-top: 1px solid #9b8372;
}

.row {
    padding: 3vh 0;
}

/* sivun responsiivisuus */
@media screen and (min-width: 640px) { /* puhelin vaaka-asennossa, pieni tabletti pysty- ja vaaka-asennossa */
    .navbar-nav {
        font-size: 1.4em;
    }
    
    .game-img, .game-names, .game-results {
        width: 90%;
    }

}

@media screen and (min-width: 992px) { /* läppärit ja pienet pöytäkoneet */
    #navbarNav {
        border-top: 0;
        justify-content: right;
    }
    
    .navbar-nav {
        margin: 10px;
        font-size: 1.2em;
    }

    #empty {
        margin: 0 1rem;
    }
    
    h1, #all-results {
        width: 60vw;
        padding: 1rem;
    }

    #games {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-top: 3rem;
        gap: 0.5rem;
        text-align: center;
    }

    .game-img {
        height: 25vh;
    }

    #language-game {
        grid-column: 5/6;
        width: 100%;
    }

    #parrot-badge {
        margin: 1.5rem 0;
    }

    #all-parrots {
        width: 40%;
        margin: 0 2rem 0 1rem;
        padding: 1rem;
    }

    #parrot-div, #parrot-badge {    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #parrot-div {
        margin: auto 0;
    }
    
    #upper-row, #lower-row {
        height: 100%;
        margin: 0;
        align-items: center;
    }    

    .parrot-img {
        width: 90px;
        height: 90px;
        margin: 0.5rem;
    }

    .row {
        padding: 6vh 0;
    }
}

@media screen and (min-width: 1200px) { /* suuret näytöt */
    
    
    .parrot-img {
        width: 125px;
        height: 125px;
        margin: 0.5rem;
    }

    .row {
        padding: 3vh;
    }
}