*, body {
    background-color: #ebe2d5;
}

h1 {
    width: 80vw;
    margin: 30px auto;
    padding: 4%;
    background-color: #e0e0e0;
    border: 2px solid black;
    border-radius: 2px;
    text-align: center; 
}

#games { /* div elementti, jossa kaikki pelit */
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3%;
}

#all-results { /* teksti, jossa kerrotaan yhteispisteet */
    font-size: 1.4em;
    text-align: center;
}

.game-img { /* kaikkien pelien kuvat */
    width: 100%;
    height: 250px;
    border-radius: 70% 70% 0 0;
}

.game-names { /* kaikkien pelien nimet */
    margin: 2% 0;
    padding: 0.5em;
    color: #ffffff;
    background-color: #856955;
    text-align: center;
    font-size: 1.2em;
}

.game-results { /* kaikkien pelien tulokset */
    padding: 0.5em;
    color: #ffffff;
    background-color: #9b8372;
    text-align: center;
    font-size: 1.2em;
}

#math-game { /* matikkapeli (Johannes) */
}

#langugage-game { /* kielipeli (Nella) */
}

#flag-game { /* lippupeli (Mici) */

}

#map-game { /* karttapeli (Noomi) */

}

#story-game { /* tarinapeli (Minä)  */
    width: 50%;
    grid-column: 1/3;
    justify-self: center;
}

#parrot-badge { /* div jossa on papukaijamerkkien määrä ja div kuville */

}

#parrot-div { /* div jossa on kaikki papukaijakuvat */

}

.parrot-img { /* kaikki papukaijakuvat */
    max-width: 200px;
}

footer {
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 100vw;
    padding-top: 5em;
    margin-top: 5em;
}

div.container {
    max-width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}