body{
    background-color: #e8e5dd;
    

}

.tumma-taustavari {
    background-color: #e0e0e0;
}


#kielivisa{
background-color: #e0e0e0;
border: 1px solid #000;
margin-bottom: 10%;

}
#kielivisa h1 {
text-align: center;

}

#kielivisa p{
    text-align: center;
    display: none; /*piilossa*/
}


#kysymyslaatikko{
    background-color: #bda492;
    padding: 20px;
    border-radius: 10px; 
}

#visa{
    background-color: #c6bbb2;
    border-radius: 10px; 
    width: 100%;
}

#visa-container{
    padding: 20px ; 
    font-size: 18px;
    font-weight: 600;
}

 #kysymys{
    padding: 20px 0;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 10px; 
    text-align: center;

}


.btn, .btntwo{
    background: #fff;
    color: black;
    font-weight: 500;
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    border: 3px solid #000;
 
}  

.btn:hover:not([disabled]), .btntwo:hover:not([disabled]){
    background-color:#8d7d6f ;
    color: #fff;
}

.btn:disabled, .btntwo:disabled{ /*hover ei enää näy kun on valittu vastaus.*/
    cursor: no-drop;
}
#next-btn{
    background-color: #bda492;
    font-weight: 500;
    width: 120px;
    border: 0;
    padding: 5px;
    border-radius: 4px; 
    cursor: pointer;
    align-self: flex-start;
    align-items: end;
    float: right;
    display: none; /*PIILOSSA*/
    
     
}

.correct{
    background-color: rgb(8, 194, 8) ;
   
}

.incorrect{
    background-color: #f24c41;
}



footer {
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 100vw;
    padding-top: 5em;
    margin-top: 5em;
}

div.container {
    max-width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}